@font-face {
    font-family: 'AvantGarde';
    src: url('../fonts/AvantGarde-Bold.woff2');
}

@font-face {
    font-family: 'TradeGothic';
    src: url('../fonts/tradegothic-bold.woff2');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    color: white;

}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto
}

/* HEADER */
header {
    background-color: black;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'AvantGarde';
    font-weight: 600;

    .header-row {
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;

        .logo {
            width: 15%;

            h2 {
                font-size: 36px;
            }
        }

        nav {
            width: 900px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: end;

            .nav-bar {

                .nav-links {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    gap: 30px;

                }
            }
        }

        .search-bar {
            width: 5%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: end;

            .search-icon {

                i {
                    color: white;
                }
            }
        }
    }
}

/* HERO */
.hero {
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'AvantGarde';

    .hero-content {

        .hero-image {
            display: flex;
        }

        .hero-title_and_button {
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            gap: 60px;
            margin-top: 150px;

            .hero-title {

                h2 {

                    width: 840px;
                    font-size: 78px;
                }
            }

            .hero-button {

                button {
                    width: 190px;
                    height: 60px;
                    border: #e3204f solid;
                    background-color: black;
                }
            }
        }

    }
}

/* SERVICES */
.services {
    background-color: black;
    width: 100%;
    height: 890px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'AvantGarde';
    font-weight: 600;

    .services-content {

        .services-title {
            h2 {
                font-size: 48px;
            }

            p {
                font-size: 17px;
                font-family: 'TradeGothic';
                color: #e3204f;
            }

        }
    }
}